<div class="animated fadeIn">
  <table class="table table-striped datatable" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5">
    <thead>
    <tr>
        <th>
          <mfDefaultSorter by="name">Rank</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="name">Name</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="name">Price</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="email">Market Cap</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="age">VWAP(24Hr)</mfDefaultSorter>
        </th>
        <th>
            <mfDefaultSorter by="city">Supply</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="city">Volume(24Hr)</mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="city">Change(24Hr)</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of lists; let i = index">
        <td>{{item.cmc_rank}}</td>
        <td>{{item.name}}</td>
        <td>{{item.quote.USD.price}}</td>
        <td>{{item.quote.USD.market_cap}}</td>
        <td>{{item.name}}</td>
        <td>{{item.total_supply}}</td>
        <td>{{item.quote.USD.volume_24h}}</td>
        <td>{{item.quote.USD.percent_change_24h}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
  </table>
</div>
